.bordered-row {
    border: 2px solid red;
    padding: 16px; 
}

.edit-outline {
    border: 1.5px solid #b0b0b0;
}

.gray-outline-btn {
  border: 1px solid #b0b0b0 !important; /* Gray border */
}

.min-btn {
  min-width: 100px;
}